/* Estilos para el formulario */
body{
  background-color: #ddd;
}
.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.input-mac {
  margin-bottom: 20px;
  width: 100%;
}

.select-mac {
  margin-bottom: 20px;
  width: 100%;
}

.button {
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #5D5FEF;
}

#btnBuscar {
  background-color: #44423c;
}

#btnAgregar {
  background-color: #2ECC71;
}

#btnBorrar {
  background-color: #E74C3C;
}

#btnActualizar {
  background-color: #F39C12;
}

/* Estilos para la lista de alumnos */
.listadoAlumnos {
  margin-top: 30px;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #5D5FEF;
  color: white;
  text-align: left;
}

/* Estilos para el título de la lista de alumnos */
.listadoAlumnos h1 {
  color: #5D5FEF;
}

/* Estilos para el template de búsqueda */
#template-tablabuscar {
  display: none;
  margin-top: 30px;
}

#template-tablabuscar h3 {
  color: #5D5FEF;
}

#template-tablabuscar table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
}

#template-tablabuscar th, #template-tablabuscar td {
  border: 1px solid #ddd;
  padding: 8px;
}

#template-tablabuscar th {
  background-color: #5D5FEF;
  color: white;
  text-align: left;
}

